<div class="row justify-content-center mt-5">
  <div class="col-md-8 d-grid gap-3">
    <h1 class="fs-2 row justify-content-center">
      Lista de Reservas Cadastradas
    </h1>

    <button
      routerLink="/reservas/inserir"
      mat-raised-button
      class="me-auto py-4 px-4 fs-8"
      color="primary"
    >
      <mat-icon>add</mat-icon>
      Nova Reserva
    </button>

    <div>
      <table>
        <thead>
          <tr>
            <th>HORA ENTRADA</th>
            <th>HORA SAÍDA</th>
            <th>NÚMERO DE CRIANÇAS</th>
            <th>NÚMERO DE ADULTOS</th>
            <th>QUARTO</th>
            <th>HOSPEDE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reserva of reservas$ | async">
            <td>{{ reserva.CheckIn }}</td>
            <td>{{ reserva.CheckOut}}</td>
            <td>{{ reserva.NumberOfChildren }}</td>
            <td>{{ reserva.NumberOfAdults }}</td>
            <td>{{ reserva.roomId }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="flex justify-content-center gap-3 align-content-center align-items-center"
    >



    </div>
  </div>
</div>

