<div class="row justify-content-center align-items-center mt-5">
  <div class="col-md-5">
    <h1 class="fs-2">Inserir Novo Hóspede</h1>

    <form [formGroup]="form!" (ngSubmit)="gravar()" class="d-grid mt-4">
      <mat-form-field appearance="outline">
        <mat-label>NOME:</mat-label>
        <input type="text" formControlName="name" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CPF:</mat-label>
        <input type="text" formControlName="cpf" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>EMAIL:</mat-label>
        <input type="text" formControlName="email" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>TELEFONE:</mat-label>
        <input type="text" formControlName="phoneNumber" matInput />
      </mat-form-field>


      <div class="d-flex justify-content-end gap-2 mt-5">
        <button
          type="submit"
          class="py-3 px-5"
          color="primary"
          mat-raised-button
        >
          Salvar
        </button>
        <button
          routerLink="/hospedes/listar"
          class="py-3 px-5"
          color="warn"
          mat-stroked-button
        >
          Voltar
        </button>
      </div>
    </form>
  </div>
</div>

